<br>

<h2 class="about">About Us</h2>


<div id="contentsection">
    <p>
        <strong id="headline">We connect fresh produce farmers to
            businesses through a collaborative approach. </strong>
    </p>

    <div id="contentAbout">

        <p id="aboutpara">To develop a sustainable ecosystem, we support
            small farmers, local produce, local communities and the nature.
            Offering a wide range of conventional, organic, exotic fresh Fruits
            & Vegetables through direct farm sourcing and distribution to
            Retailers, Wholesale Buyers, Restaurants, Food Processors, Exporters
            and Institutional Canteens.</p>
    </div>

</div>

<!-- End About Section -->
<br>

<div class="reasons">

<!-- Why you should choose us Section -->
<h2 id="headlinewhy">Why You Should Choose Us</h2>

<!-- 	<div id="content"> </div>  -->

<div class="reasons1">
    <h3>Registration</h3>

    <p>Application developed for both farmer and customer user.</p>
</div>
<div class="reasons2">
    <h3>Product selling</h3>

    <p>Farmer can sell their product and customer can buy in this
        platform.</p>
</div>
<div class="reasons3">
    <h3>Customer Integrity</h3>

    <p>Maintaing intgrity of customer with farmers</p>
</div>
</div>