<!-- Welcome {{contextUser.firstname +" "+contextUser.lastname}} -->

  <!-- Main Content Section -->
  <div class="container">
    <div class="image">
      <img
        src="https://media.istockphoto.com/id/1159999393/photo/goodness-comes-from-nature.jpg?s=612x612&w=0&k=20&c=zUChhtGI4YxfhOOMiiSZ0OOz8Grpa6ICPdcVO2tmyi4="
         alt="Vegetable Image" />
    </div>
    <div class="content">
      <h2>Agri Commerce</h2>
      <p >Earlier people had only one way of buying fruits and
        vegetables but now as we are evolving, shopping methods are also
        changing. Now we are all working in the corporate sector. So we do
        not get enough time to spend in the local and supermarket. So buying
        fruits and vegetables online is the right way.</p>

      <p >Fresh fruits and vegetables are an important part of a healthy
        diet. They contain essential vitamins, minerals, fiber and other
        nutrients that are essential for good health. In fact, research has
        shown that a healthy diet rich in fruits and vegetables may reduce
        the risk of cancer and other chronic diseases.</p>





        
    </div>
  </div>

  <!-- End Main Content Section -->
  
  





